<style>
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@400;800;900&family=Noto+Sans+Thai:wght@300;400;900&family=Sarabun:ital,wght@1,500;1,800&family=Taviraj&display=swap");
  </style>
  <div class="cart">
    <h2>ข้อมูลการซื้อย้อนหลัง</h2>
    <form >
      <div class="input-box">
        <input
          matInput
          [placeholder]="'' + index"
          maxlength="1"
          *ngFor="let index of [1, 2, 3, 4, 5, 6]; let i = index"
          style="
            margin-right: 15px;
            font-family: 'Noto Sans Thai', sans-serif;
            font-family: 'Noto Sans Thai Looped', sans-serif;
          "
          [name]="'input' + i"
          #inputElement
        />
        <button
        mat-raised-button
        color="warn" class="search"
        style=" 
          margin-right: 15px;
          font-family: 'Noto Sans Thai', sans-serif;
          font-family: 'Noto Sans Thai Looped', sans-serif;
        "
        (click)="search(getInputValues())"
      >
        <mat-icon>search</mat-icon>ค้นหา
      </button>
      <p-calendar class="p-calendar"
      [(ngModel)]="selectedDate"
      [showTime]="false"
      [showIcon]="true"
      [placeholder]="'วันที่ซื้อ'"
      name="purchaseDateTime"
    ></p-calendar>
        <button
        mat-raised-button
        color="warn" class="filterData"
        style=" 
          margin-right: 15px;
          font-family: 'Noto Sans Thai', sans-serif;
          font-family: 'Noto Sans Thai Looped', sans-serif;
        "
        (click)="filterData()"
      >
        <mat-icon>search</mat-icon>ค้นหา
      </button>
      
      
      </div>

     
    </form>
  
    <table>
      <thead>
        <tr>
          <th>วันที่ซื้อ</th>
          <th>ชื่อ</th>
          <th>หมายเลขสลาก</th>
          <th>จำนวน</th>
          <th>ราคาต่อใบ</th>
          <th>ราคารวม</th>
          <!-- <th>การดำเนินการ</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Results">
            
          <td>{{ item.created_at }}</td>
          <td>{{ item.first_name }}</td>
          <td>{{ item.ticket_number }}</td>
          <td>{{ item.quantity }}</td>
          <td>
            {{ item.price }}
          </td>
          <td>
            <ng-container *ngIf="item && item.price !== undefined && item.quantity !== undefined">
              {{ item.price * item.quantity }} บาท
            </ng-container>
          </td>
          <td>
<!--            
            <button (click)="decrementQuantity(item)">-</button>
            <button (click)="incrementQuantity(item)">+</button>
            <button (click)="removeFromCart(item)">ลบ</button>
         -->
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="summary">
      <p>จำนวนบัตรสลาก: {{ calculateTotalItems() }}</p>
      <p>ราคารวม: {{ calculateTotalPrice() }} บาท</p>
    </div> -->
    <!-- <div class="cart-controls">
      <button class="clear-button" (click)="clearCart()">ลบทั้งหมด</button>
    </div> -->
    <div class="cart-controls">
      <button class="back-button" (click)="goToSearch()">
        กลับไปยังหน้าค้นหา
      </button>
    </div>
  </div>
  